{% extends "layout.html" %}
{% set serviceName %} Apply for help arranging child maintenance {% endset%}
{% block
pageTitle %} GOV.UK Prototype Kit {% endblock %}
{% block content %}

  {% include "feedback-banner.html" %}

  <div class="govuk-width-container">
    {{ govukBackLink({ text: 'Back', href: 'javascript:history.back()' }) }}
      <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">

            <form action="#" method="post" novalidate>
              <div class="govuk-form-group">

                <h1 class="govuk-heading-xl">Using a child maintenance account </h1>

                <!-- H1 stop -->

                <!-- Supporting content start -->

                <p>The online child maintenance account is a secure way to get updates about this application.
                Nobody else can access your account.
              </p>

                <p>You can:</p>

                <ul class="govuk-list govuk-list--bullet">
                  <li>see when payments are due</li>
                  <li>tell us if any payments have been missed</li>
                  <li>update your contact details</li>
                  <li>tell us about changes to your circumstances</li>
                </ul>

                {# <h2 class="govuk-heading-m">If you have another child maintenance case</h2>

                <p>You may have a child maintenance account if you already pay or receive child maintenance.
                You can use the same account to manage all your cases and applications in one place.
              </p>
 #}
              </div>

                <div class="govuk-form-group">
                  <fieldset class="govuk-fieldset" aria-describedby="onlineAccount-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                      <h1 class="govuk-fieldset__heading">Do you have another child maintenance case?</h1>
                    </legend>
                    {# <div id="changedName-hint" class="govuk-body">You may have a child maintenance account if you already pay or receive child maintenance.<br>You can use the same account to manage all your cases and applications in one place.</div> #}
                    <div class="govuk-radios" data-module="govuk-radios">
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="onlineAccount" name="onlineAccount" type="radio" value="yes~/apply/february2025/1-start-eligibility/urn-rp.html">
                        <label class="govuk-label govuk-radios__label" for="onlineAccount">Yes</label>
                        <div id="onlineAccount" class="govuk-hint govuk-radios__hint">
          You can use your existing online account to manage all your cases and applications in one place.
        </div>
                      </div>
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="onlineAccount-2" name="onlineAccount" type="radio" value="no~create-an-account">
                        <label class="govuk-label govuk-radios__label" for="onlineAccount-2">No</label>
                        <div id="onlineAccount" class="govuk-hint govuk-radios__hint">
          Create an online account to manage your case.
        </div>
                      </div>
                    </div>
                  </fieldset>
                </div>

                <!-- Supporting content stop -->

                <div class="govuk-!-padding-bottom-5"></div>

                <!-- Buttons -->

                <div class="govuk-button-group">
                  <button class="govuk-button" data-module="govuk-button">
                  Continue
                </button>

                  {# <a class="govuk-link" href="reset-pin-message">Already
                  have an account?</a> #}
                </div>
            </form>
          </div>
          {% include "exit-button.html" %}
        </div>

      </main>
    </div>

  {% endblock %}