{% extends "layout.html" %} {% block pageTitle %} GOV.UK Prototype Kit {% endblock %} {% block content %}
<!--Feedback banner start-->
{% include "feedback-banner.html" %}
<!--Feedback banner stop-->
<div class="govuk-width-container">
    {{ govukBackLink({ text: 'Back', href: 'javascript:history.back()' }) }}

    <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds-from-desktop">

                <h1 class="govuk-heading-xl">Check your answers about the other parent</h1>

                <dl class="govuk-summary-list govuk-!-margin-bottom-9">


                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Information you know about the other parent
                        </dt>
                        <dd class="govuk-summary-list__value">

                            {# {{data['op-details']}} #}
                            <ul>
                                {# {% for questions in data['op-details'] %}
                                <li>{{ questions }}</li>
                                {% endfor %} #}
                            </ul>

                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="op-question-list.html">
                                Change
                                <span class="govuk-visually-hidden"> name</span>
                            </a>
                        </dd>
                    </div>

                    <!-- name start -->
                    {% if data['op-details'].includes('Name') %}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Name
                        </dt>
                        <dd class="govuk-summary-list__value">

                            {# {{data['op-first-name']}}
                            {{data['op-middle-name']}} {{data['op-last-name']}} #}

                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="op-name.html">
                                Change
                                <span class="govuk-visually-hidden"> name</span>
                            </a>
                        </dd>
                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Has the other parent been known by a different name?
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {# {{data['op-other-name']}} <br> {{data['previous-first-name']}}
                            {{data['previous-middle-name']}} {{data['previous-last-name']}} #}
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="op-name.html">
                                Change
                                <span class="govuk-visually-hidden"> name</span>
                            </a>
                        </dd>
                    </div>
                    {% endif %}
                    <!-- name end -->

                    <!-- date of birth start -->
                    {% if data['op-details'].includes('Date of birth') %}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Age or date of birth
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {# {{data['op-dob']}} <br>
                            {{data['op-dob-day']}} {{data['op-dob-month']}} {{data['op-dob-year']}}
                            {{data['op-dob-part-day']}} {{data['op-dob-part-month']}} {{data['op-dob-part-year']}}
                            {{data['op-age']}} #}
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="op-dob.html">
                                Change
                                <span class="govuk-visually-hidden"> name</span>
                            </a>
                        </dd>
                    </div>
                    {% endif %}
                    <!-- date of birth end -->

                    <!-- current address start  -->
                    {% if data['op-details'].includes('Address') %}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Current address
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {# {{data['op-address']}} <br>
                            {% if data['op-address'] == "I know the full address" %} 1 The Towers <br />
                            Hill Top Road <br />
                            Leeds <br />
                            West Yorkshire <br />
                            LS1 1SL <br /> {% endif %} #}

                            {# {% if data['op-address'] == "I know part of the address" %} 1 The Towers <br />
                            Leeds <br />
                            West Yorkshire {% endif %} #}

                            {# {% if data['op-address'] == "I know the town or city" %} {{data['op-address-town']}} {% endif %} #}

                            {# {% if data['op-address'] == "I know the area of UK" %} {{data['op-adderess-area']}} {% endif %} #}

                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="op-address-1.html">
                                Change
                                <span class="govuk-visually-hidden"> name</span>
                            </a>
                        </dd>
                    </div>

                    {% if data['op-address-how-know'] %}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            How you know their current address
                        </dt>
                        <dd class="govuk-summary-list__value">

                            {# {{data['op-address-how-know']}} <br />

                            {% if data['op-address-how-know'] == "I have droppped my child off at this address" %} {{data['dropped-month']}} - {{data['dropped-year']}} {% endif %}
                            
                            {% if data['op-address-how-know'] == "I have court papers, letters or documents that confirm the other parent’s address" %}  {{data['court-day']}} - {{data['court-month']}} -  {{data['court-year']}} {% endif %}
                           
                            {% if data['op-address-how-know'] == "Another reason" %} {{data['op-address-know-other']}} {% endif %} #}
                            

                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="op-address-3.html">
                                Change
                                <span class="govuk-visually-hidden"> name</span>
                            </a>
                        </dd>
                    </div>
                    {% endif %}
                    <!-- current address end -->

                    <!-- previous address start -->

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Previous address
                        </dt>
                        <dd class="govuk-summary-list__value">

                            {# {{data['op-prev-address']}} <br>
                            {% if data['op-prev-address'] == "I know the other parent's full previous address and postcode" %} 22 Far View<br>
                            Gosforth<br>
                            Newcastle <br>
                            Tyne and Wear<br>
                            NE1 1EN {% endif %}

                            {% if data['op-prev-address'] == "I know part of the other parent's previous address" %} 22 Far View<br>
                            Gosforth<br>
                            Newcastle {% endif %}

                            {% if data['op-prev-addresss'] == "I know the town or city of the other parents previous address" %} {{data['op-prev-address-town']}} {% endif %}

                            {% if data['op-prev-addresss'] == "I know the area of the other parents previous address" %} {{data['op-prev-address-area']}} {% endif %} #}

                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="op-previous-address.html">
                                Change
                                <span class="govuk-visually-hidden"> name</span>
                            </a>
                        </dd>
                    </div>

                   {% if data['op-prev-address-know'] %}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            How you know their previous address
                        </dt>
                        <dd class="govuk-summary-list__value">

                            {# {{data['op-prev-address-know']}} #}

                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="op-previous-replay.html">
                                Change
                                <span class="govuk-visually-hidden"> name</span>
                            </a>
                        </dd>
                    </div>
                    {% endif %}

                    {% endif %}
                    <!-- previous address end -->

                    <!-- telehone number start -->
                    {% if data['op-details'].includes('Phone number') %}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Phone number
                        </dt>
                        <dd class="govuk-summary-list__value">
                          
                            {# {% if data['op-phone-number-1'] %}
                                Main: {{data['op-phone-number-1']}}
                                {% endif %}
                            <br>    
                            {% if data['op-phone-number-2'] %}
                                Alternative: {{data['op-phone-number-2']}} <br>
                                Type of phone number: {{data['phone-type']}}     
                            {% endif %} #}
                           

                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="op-phone.html">
                                Change
                                <span class="govuk-visually-hidden"> name</span>
                            </a>
                        </dd>
                    </div>
                    {% endif %}
                    <!-- telephone number end -->

                    <!-- nino start -->
                    {% if data['op-details'].includes('National Insurance number') %}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            National Insurance number
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {# {{data['op-nino']}} #}
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="op-nino.html">
                                Change
                                <span class="govuk-visually-hidden"> name</span>
                            </a>
                        </dd>
                    </div>
                    {% endif %}
                    <!-- nino end -->

                    <!-- any other information start -->
                    {% if data['op-details'].includes('Other information') %}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Jobs or benefits
                        </dt>
                        <dd class="govuk-summary-list__value">

                            {# {{data['op-other-info']}}  #}
                            <ul>
                                {# {% for otherInfo in data['op-other-info'] %}
                                <li>{{otherInfo}}</li>
                                {% endfor %} #}
                            </ul>
                            <br>
                            {# {{data['jobs-benefits']}} <br> {{data['post']}} <br> {{data['anything-else']}} #}

                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="op-anything-else.html">
                                Change
                                <span class="govuk-visually-hidden"> name</span>
                            </a>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Postal address
                        </dt>
                        <dd class="govuk-summary-list__value">

                            {# {{data['op-other-info']}}  #}
                            <ul>
                                {# {% for otherInfo in data['op-other-info'] %}
                                <li>{{otherInfo}}</li>
                                {% endfor %} #}
                            </ul>
                            <br>
                            {# {{data['jobs-benefits']}} <br> {{data['post']}} <br> {{data['anything-else']}} #}

                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="op-anything-else.html">
                                Change
                                <span class="govuk-visually-hidden"> name</span>
                            </a>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Other contact information
                        </dt>
                        <dd class="govuk-summary-list__value">

                            {# {{data['op-other-info']}}  #}
                            <ul>
                                {# {% for otherInfo in data['op-other-info'] %}
                                <li>{{otherInfo}}</li>
                                {% endfor %} #}
                            </ul>
                            <br>
                            {# {{data['jobs-benefits']}} <br> {{data['post']}} <br> {{data['anything-else']}} #}

                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="op-anything-else.html">
                                Change
                                <span class="govuk-visually-hidden"> name</span>
                            </a>
                        </dd>
                    </div>
                    {% endif %}
                    <!-- any other information end -->
                </dl>

                <br />

                <form method="post" novalidate>


                    <button type="submit" class="govuk-button">
                        Continue
                    </button>

                    </p>
                </form>

                {# <button type="reset" class="govuk-button govuk-button--secondary"
                    onclick="deleteMatchingCookiesAndRedirect('govuk-prototype-kit-', '/apply/february2025/better-information-for-tracing/welcome.html')">
                    Start again
                </button> #}
                <!-- <a class="govuk-link" href="../sections">Return to Index</a> -->
            </div>
            {% include "exit-button.html" %}

        </div>
    </main>
</div>
<script>
    function showDivPreviousAddress() {
        if (otherParentKnowAddressInformation = "other-parent-know-address-2") {
            document.getElementById('previous-address').style.display = 'visible';
        }
        else {
            document.getElementById('previous-address').style.display = 'hidden';

        }

    }
</script>


<script>
    function deleteMatchingCookiesAndRedirect(prefix, redirectUrl) {
        const cookies = document.cookie.split(';');

        cookies.forEach(cookie => {
            const cookieName = cookie.split('=')[0].trim();
            if (cookieName.startsWith(prefix)) {
                document.cookie = cookieName + '=; Max-Age=0; path=/;';
            }
        });

        window.location.href = redirectUrl;
    }
</script>
{% endblock %}