{% extends "layout.html" %} {% block pageTitle %} GOV.UK Prototype Kit {% endblock %} {% block content %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/input/macro.njk" import govukInput %}
<!--Feedback banner start-->
{% include "feedback-banner.html" %}
<!--Feedback banner stop-->
<div class="govuk-width-container">
    {{ govukBackLink({ text: 'Back', href: 'javascript:history.back()' }) }}

    <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <form method="post" novalidate>

                    {# <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                                <h1 class="govuk-fieldset__heading">
                                    What is the other parent's telephone number?
                                </h1>
                            </legend>
                            <div id="contact-hint" class="govuk-hint">
                                Select all that apply.
                            </div>
                            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="op-phone-1" name="op-phone" type="checkbox"
                                        value="Main" data-aria-controls="conditional-op-phone-1" {% if data['op-phone'] == "Main" %} checked {% endif %}>
                                    <label class="govuk-label govuk-checkboxes__label" for="op-phone">
                                        I know their main contact number
                                    </label>
                                </div>
                                <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden"
                                    id="conditional-op-phone-1">
                                    <div class="govuk-form-group">
                                        <label class="govuk-label" for="op-phone-number-1">
                                            Phone number
                                        </label>
                                        <input class="govuk-input govuk-!-width-one-third" id="op-phone-number-1"
                                            name="op-phone-number-1" type="tel" spellcheck="false" autocomplete="tel" value="{{data['op-phone-number-1']}}">
                                    </div>
                                </div>
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="op-phone-2" name="op-phone" type="checkbox"
                                        value="Alternative" data-aria-controls="conditional-op-phone-number-2" {% if data['op-phone'] == "Alternative" %} checked {% endif %}>
                                    <label class="govuk-label govuk-checkboxes__label" for="op-phone-2">
                                        I know their alternative number
                                    </label>
                                </div>
                                <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden"
                                    id="conditional-op-phone-number-2">
                                    <div class="govuk-form-group">
                                        <label class="govuk-label" for="op-phone-number-2">
                                            Phone number
                                        </label>
                                        <input class="govuk-input govuk-!-width-one-third" id="op-phone-number-2"
                                            name="op-phone-number-2" type="tel" autocomplete="tel" value="{{data['op-phone-number-2']}}">

                                        <label class="govuk-label govuk-!-padding-top-4" for="phone-type">
                                            Type of phone number (optional)
                                        </label>
                                        <div id="contact-hint" class="govuk-hint">This must be a number that the other
                                            parent uses. For example, their work number.</div>
                                        <input class="govuk-input" id="phone-type" name="phone-type" type="text" value="{{data['phone-type']}}">

                                    </div>
                                </div>

                            </div>
                        </fieldset>
                    </div> #}

                    

                    {% set mainphoneHtml %}
                    {{ govukInput({
                        id: "op-phone-number-1",
                        name: "op-phone-number-1",
                        value: data['op-phone-number-1'],
                        type: "tel",
                        autocomplete: "tel",
                        spellcheck: false,
                        classes: "govuk-!-width-one-third",
                        label: {
                        text: "Phone number"
                        }
                    }) }}
                    {% endset -%}

                    {% set alternativephoneHtml %}
                    {{ govukInput({
                        id: "op-phone-number-2",
                        name: "op-phone-number-2",
                        value: data['op-phone-number-2'],
                        type: "tel",
                        autocomplete: "tel",
                        classes: "govuk-!-width-one-third",
                        label: {
                            text: "Phone number"
                        }
                    }) }}
                    {{ govukInput({
                        id: "phone-type",
                        name: "phone-type",
                        value: data['phone-type'],
                        type: "text",
                        autocomplete: "text",
                        classes: "govuk-!-width-one-third",
                        label: {
                            text: "Type of phone number (optional)"
                        },
                        hint: {
                            text: "This must be a number that the other parent uses. For example, their work number."
                            }
                        
                    }) }}
                    {% endset -%}

                    {{ govukCheckboxes({
                        name: "op-phone",
                        values: data['op-phone'],
                        fieldset: {
                        legend: {
                            text: "What is the other parent's telephone number?",
                            isPageHeading: true,
                            classes: "govuk-fieldset__legend--xl"
                        }
                        },
                        hint: {
                            text: "Select all that apply."
                        },
                        items: [
                        {
                            value: "op-phone-1",
                            text: "I know their main contact number",
                            conditional: {
                            html: mainphoneHtml
                            }
                        },
                        {
                            value: "op-phone-2",
                            text: "I know their alternative number",
                            conditional: {
                            html: alternativephoneHtml
                            }
                        }
                        ]
                    }) }}
        


                    <!-- </fieldset> -->
                    <button type="submit" class="govuk-button">
                        Continue
                    </button>

                </form>
            </div>
            {% include "exit-button.html" %}

        </div>
    </main>
</div>
{% endblock %}