{% extends "layout.html" %} {% block pageTitle %} Tell us about the other parent {% endblock %} {% block content %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
<!--Feedback banner start-->
{% include "feedback-banner.html" %}
<!--Feedback banner stop-->
<div class="govuk-width-container">
  {{ govukBackLink({ text: 'Back', href: 'javascript:history.back()' }) }}
  <main class="govuk-main-wrapper " id="main-content" role="main">

    <main class="govuk-main-wrapper " id="main-content" role="main">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <form method="post" novalidate>
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                  <h1 class="govuk-fieldset__heading">
                    Tell us what you know about the other parent
                  </h1>
                </legend>

                <div class="govuk-warning-text govuk-!-padding-top-5">
                  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                  <strong class="govuk-warning-text__text">
                    <span class="govuk-visually-hidden">Warning</span>
                    Giving us as much information as possible can help us process your application faster.
                  </strong>
                </div>

              {{ govukCheckboxes({
                  name: "op-details",
                  values: data['op-details'],
                  hint: {
                    text: "Select all that apply. You can give partial information and change your answers later."
                  },
                    items: [
                    {
                      value: "Name",
                      text: "Name"
                    },
                    {
                      value: "Date of birth",
                      text: "Information about date of birth or age"
                    },
                    {
                      value: "Address",
                      text: "Information about address or location"
                    },
                    {
                      value: "Phone number",
                      text: "Telephone number"
                    },
                    {
                      value: "National Insurance number",
                      text: "National Insurance number"
                    },
                    {
                      value: "Other information",
                      text: "Any other details about them"
                    },
                    {divider: "or"},
                    {
                      value: "I do not know anything",
                      behaviour: "exclusive",
                      text: "I do not know anything about the other parent"
                    }   
                  ]
                }) }}

              </fieldset>
            </div>

            <button type="submit" class="govuk-button">
              Continue
            </button>

          </form>

        </div>
        {% include "exit-button.html" %}
      </div>
    </main>
</div>


{% endblock %}