{% extends "layout.html" %}
{% set serviceName %} Calculate child maintenance {% endset%}
{% block pageTitle %} Payments to more than one parent {% endblock %}
{% block content %}
  <!--Feedback banner start-->
  {% include "feedback-banner.html" %}

  <!--Feedback banner stop-->
  <div class="govuk-width-container">
    {{ govukBackLink({ text: 'Back', href: 'javascript:history.back()' }) }}
    <main class="govuk-main-wrapper " id="main-content" role="main">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <form method="post" novalidate>
            <!--start of radio-->
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                  <h1 class="govuk-fieldset__heading">
                            Will you be making payments to more than one other parent?
                  </h1>
                </legend>

                <div class="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="more-than-one-parent" name="more-than-one-parent" type="radio" value="Yes~/calculator/pp/multi-rp/how-many-receiving-parents-multi-rp.html">
                    <label class="govuk-label govuk-radios__label" for="more-than-one-parent">
                        Yes
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="more-than-one-parent-2" name="more-than-one-parent" type="radio" value="No~benefits-or-pension">
                    <label class="govuk-label govuk-radios__label" for="more-than-one-parent-2">
                        No
                    </label>
                  </div>
                </div>
              </fieldset>
            </div>

            <br>
            <!--end-->
            <button type="submit" class="govuk-button">
            Continue
          </button>
          </form>

        </div>
        {% include "exit-button.html" %}
      </div>
    </main>
  </div>
{% endblock %}