{% extends "layout.html" %}
{% block pageTitle %} GOV.UK Prototype Kit {% endblock %}
{% block content %}
    <!--Feedback banner start-->
    {% include "feedback-banner.html" %}
    <!--Feedback banner stop-->
    <div class="govuk-width-container">
        {{ govukBackLink({ text: 'Back', href: 'javascript:history.back()' }) }}

        <main class="govuk-main-wrapper " id="main-content" role="main">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds-from-desktop">

                    <h1 class="govuk-heading-xl">Check your answers about the other parent</h1>

                    <dl class="govuk-summary-list govuk-!-margin-bottom-9">

                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                            Name
                        </dt>
                            <dd class="govuk-summary-list__value">

                                {{data['other-parent-first-name']}}
                                {{data['other-parent-middle-name']}}
                                {{data['other-parent-last-name']}}

                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="pp-name.html">
                                Change
                                <span class="govuk-visually-hidden"> name</span>
                                </a>
                            </dd>
                        </div>

                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                           Has the other parent been known by a different name?
                        </dt>
                            <dd class="govuk-summary-list__value">

                                {{data['pp-other-name']}}
                                <br>
                                {% if data['pp-other-name'] == "Yes" %}
                                    {{data['previous-first-name']}}
                                    {{data['previous-middle-name']}}
                                    {{data['previous-last-name']}}
                                {% endif %}

                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="pp-name.html">
                                Change
                                <span class="govuk-visually-hidden"> name</span>
                                </a>
                            </dd>
                        </div>

                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                            Age or date of birth
                        </dt>
                            <dd class="govuk-summary-list__value">

                                {{data['op-dob']}}
                                <br>
                                {% if data['op-dob'] == "Full date of birth" %}
                                    {{data['op-dob-day']}} - 
                            {{data['op-dob-month']}} - {{data['op-dob-year']}}
                                {% endif %}

                                {% if data['op-dob'] == "Part date of birth" %}
                                    {{data['op-dob-part-day']}}
                                    {{data['op-dob-part-month']}}
                                    {{data['op-dob-part-year']}}
                                {% endif %}

                                {% if data['op-dob'] == "Age" %}
                                    {{data['op-age']}}
                                {% endif %}

                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="pp-dob.html">
                                Change
                                <span class="govuk-visually-hidden"> name</span>
                                </a>
                            </dd>
                        </div>

                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                            National Insurance number
                        </dt>
                            <dd class="govuk-summary-list__value">

                                {{data['pp-nino']}}
                                <br>
                                {% if data['pp-nino'] == "I know their National Insurance number" %}
                                    {{data['nino']}}
                                {% endif %}

                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="pp-nino.html">
                                Change
                                <span class="govuk-visually-hidden"> name</span>
                                </a>
                            </dd>
                        </div>

                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                            Phone number
                        </dt>
                            <dd class="govuk-summary-list__value">

                                {# {{data['pp-phone']}} #}
                               
                                {% if data['pp-phone'] == "Main" %}
                                Main:   {{data['pp-phone-main']}}
                                {% endif %}

                                {% if data['pp-phone'] == "Alternative" %}
                                 Alternative:   {{data['pp-phone-alternative']}}
                                    <br>
                                 Type:   {{data['pp-phone-alternative-type']}}
                                {% endif %}

                                {% if data['pp-phone'] == "None" %}
                                 None
                                {% endif %}

                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="pp-phone.html">
                                Change
                                <span class="govuk-visually-hidden"> name</span>
                                </a>
                            </dd>
                        </div>

                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                            Current address
                        </dt>
                            <dd class="govuk-summary-list__value">

                                {{data['op-address']}}
                                <br>
                                {% if data['op-address'] == "I know the full address" %}
                                21 The Towers <br>
                                Hill Top Road <br>
                                Leeds <br>
                                West Yorkshire <br>
                                LS11 1SL
                                {% endif %}

                                {% if data['op-address'] == "I know part of the address" %}
                                    {{data['other-parent-address-line-1'] }}<br/>
                                    {{data['other-parent-address-line-2'] }}<br/>
                                    {{data['other-parent-address-town'] }}<br/>
                                    {{data['other-parent-address-county'] }}<br/>
                                    {{data['other-parent-address-postcode'] }}<br/>
                                {% endif %}

                                {% if data['op-address'] == "I know the town or city" %}
                                    {{data['op-address-town'] }}
                                {% endif %}

                                {% if data['op-address'] == "I know the area of UK" %}
                                    {{data['op-address-area'] }}
                                {% endif %}

                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="pp-address-1">
                                Change
                                <span class="govuk-visually-hidden"> name</span>
                                </a>
                            </dd>
                        </div>
  
                        {% if data['op-address'] == "I know the full address" %}
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                            How you know their current address
                        </dt>
                                <dd class="govuk-summary-list__value">

                                    {# {{data['pp-address-how-know']}}
                                    <br/> #}
    

                                    {% if data['pp-address-how-know'].includes("I have dropped my child off at this address") %}
                                       {{data['pp-address-how-know']}} <br> {{data['dropped-month']}} - {{data['dropped-year']}}
                                    {% endif %}

                                    {% if data['pp-address-how-know'] == "I have official docmuments" %}
                                        {{data['court-day']}} - {{data['court-month']}} -  {{data['court-year']}}
                                    {% endif %}

                                    {% if data['pp-address-how-know'] == "Another reason" %}
                                        {{data['pp-address-how-know']}}
                                    {% endif %}

                                </dd>
                                <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link" href="pp-address-3.html">
                                Change
                                <span class="govuk-visually-hidden"> name</span>
                                    </a>
                                </dd>
                            </div>
                        {% endif %}

                        {% if data['op-address'] == "I know part of the address" %}
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                            How you know their current address
                        </dt>
                                <dd class="govuk-summary-list__value">

                                    {{data['op-address-how-know']}}
                                    <br/>

                                    {% if data['op-address-how-know'] == "I have droppped my child off at this address" %}
                                        {{data['dropped-month']}} - {{data['dropped-year']}}
                                    {% endif %}

                                    {% if data['op-address-how-know'] == "I have court papers, letters or documents that confirm the other parent’s address" %}
                                        {{data['court-day']}} - {{data['court-month']}} -  {{data['court-year']}}
                                    {% endif %}

                                    {% if data['op-address-how-know'] == "Another reason" %}
                                        {{data['op-address-know-other']}}
                                    {% endif %}

                                </dd>
                                <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link" href="pp-address-3.html">
                                Change
                                <span class="govuk-visually-hidden"> name</span>
                                    </a>
                                </dd>
                            </div>
                        {% endif %}

                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                            Previous address
                        </dt>
                            <dd class="govuk-summary-list__value">

                                {{data['op-prev-address']}}
                                <br>
                                {% if data['op-prev-address'] == "I know the full address" %}
                                34 High Cresent <br>
                                Gosforth<br>
                                Newcastle <br>
                                Tyne and Wear <br>
                                NE99 9EN
                                {% endif %}

                                {% if data['op-prev-address'] == "I know part of the address" %}
                                    {{data['prev-address-line-1'] }}<br/>
                                    {{data['prev-address-line-2'] }}<br/>
                                    {{data['prev-address-town'] }}<br/>
                                    {{data['prev-address-county'] }}<br/>
                                    {{data['prev-address-postcode'] }}<br/>
                                {% endif %}

                                {% if data['op-prev-address'] == "I know the town or city" %}
                                    {{data['op-prev-address-town'] }}
                                {% endif %}

                                {% if data['op-prev-address'] == "I know the area of UK" %}
                                    {{data['op-prev-address-area'] }}
                                {% endif %}

                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="pp-address-3">
                                Change
                                <span class="govuk-visually-hidden"> name</span>
                                </a>
                            </dd>
                        </div>

                        {% if data['op-prev-address'] == "I know the full address" %}    
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                            How you know their previous address
                        </dt>
                            <dd class="govuk-summary-list__value">

                                {{data['prev-address-how-know']}}
                                    <br/>

                                    {% if data['prev-address-how-know'] == "The other parent told me they have moved to a different address" %}
                                        {{data['lived-there-month']}} - {{data['lived-there-year']}}
                                    {% endif %}

                                    {% if data['prev-address-how-know'] == "I used to live at this address with the other parent" %}
                                        {{data['moved-out-month']}} -  {{data['moved-out-year']}}
                                    {% endif %}

                                    {% if data['prev-address-how-know'] == "Another reason" %}
                                        {{data['another-reason']}}
                                    {% endif %}
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="pp-address-3">
                                Change
                                <span class="govuk-visually-hidden"> name</span>
                                </a>
                            </dd>
                        </div>
                        {% endif %}

                        {% if data['op-prev-address'] == "I know part of the address" %}    
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                            How you know their previous address
                        </dt>
                            <dd class="govuk-summary-list__value">

                                {{data['prev-address-how-know']}}
                                    <br/>

                                    {% if data['prev-address-how-know'] == "The other parent told me they have moved to a different address" %}
                                        {{data['lived-there-month']}} - {{data['lived-there-year']}}
                                    {% endif %}

                                    {% if data['prev-address-how-know'] == "I used to live at this address with the other parent" %}
                                        {{data['moved-out-month']}} -  {{data['moved-out-year']}}
                                    {% endif %}

                                    {% if data['prev-address-how-know'] == "Another reason" %}
                                        {{data['another-reason']}}
                                    {% endif %}

                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="pp-address-3">
                                Change
                                <span class="govuk-visually-hidden"> name</span>
                                </a>
                            </dd>
                        </div>
                        {% endif %}

                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                            Jobs or benefits
                        </dt>
                            <dd class="govuk-summary-list__value">

                                {% if data['pp-anythingElse'] == "jobsBenefits" %}
                                    {{data['moreDetail-1']}}
                                {% else %}
                                None
                                {% endif %}

                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="pp-anything-else">
                                Change
                                <span class="govuk-visually-hidden"> name</span>
                                </a>
                            </dd>
                        </div>

                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                            Postal address
                        </dt>
                            <dd class="govuk-summary-list__value">

                                {% if data['pp-anythingElse'] == "post" %}
                                    {{data['moreDetail-2']}}
                                {% else %}
                                None
                                {% endif %}

                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="pp-anything-else">
                                Change
                                <span class="govuk-visually-hidden"> name</span>
                                </a>
                            </dd>
                        </div>

                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                            Other contact information
                        </dt>
                            <dd class="govuk-summary-list__value">

                                {% if data['pp-anythingElse'] == "anythinElse" %}
                                    {{data['moreDetail-3']}}
                                {% else %}
                                None
                                {% endif %}

                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="pp-anything-else">
                                Change
                                <span class="govuk-visually-hidden"> name</span>
                                </a>
                            </dd>
                        </div>

                    </dl>

                    <br/>

                    <form method="post" novalidate>

                        <button type="submit" class="govuk-button">
                        Continue
                    </button>

                    </p>
                </form>
                <a class="govuk-link" href="../sections">Return to Index</a>
            </div>
            {% include "exit-button.html" %}

        </div>
    </main>
</div>
<script>
    function showDivPreviousAddress() {
        if (otherParentKnowAddressInformation = "other-parent-know-address-2") {
            document
                .getElementById('previous-address')
                .style
                .display = 'visible';
        } else {
            document
                .getElementById('previous-address')
                .style
                .display = 'hidden';

        }

    }
</script>
{% endblock %}