{% extends "layout.html" %}
{% block pageTitle %} GOV.UK Prototype Kit {% endblock %}
{% block content %}
  <!--Feedback banner start-->
  {% include "feedback-banner.html" %}
  <!--Feedback banner stop-->
  <div class="govuk-width-container">
    {{ govukBackLink({ text: 'Back', href: 'javascript:history.back()' }) }}
    <main class="govuk-main-wrapper " id="main-content" role="main">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <form method="get" action="check-your-answers.html" novalidate>

            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                  <h1 class="govuk-fieldset__heading">
                  Do you know anything else that could help us contact the other parent?
                </h1>
                </legend>
                <div id="contact-hint" class="govuk-hint">
                Select all that apply
              </div>
                <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="pp-anythingElse" name="pp-anythingElse" type="checkbox" value="jobsBenefits"
                    data-aria-controls="conditional-contact">
                    <label class="govuk-label govuk-checkboxes__label" for="pp-anythingElse">
                    Information about their job or benefits
                  </label>
                  </div>
                  <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden"
                  id="conditional-contact">
                    <div class="govuk-form-group">
                      <label class="govuk-label" for="moreDetail-1">
                      Enter any more information about the other parent's job or benefits
                    </label>
                      <div id="contact-hint" class="govuk-hint">
                      For example, their job title, employer name, work address, work phone number or any benefits they
                      receive
                    </div>
                      <textarea class="govuk-textarea" id="moreDetail-1" name="moreDetail-1" rows="7"
                      aria-describedby="jobs-benefits-hint"></textarea>
                      <div id="moreDetail-1-hint" class="govuk-hint">
                      You have 700 characters remaining
                    </div>
                    </div>
                  </div>

                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="pp-anythingElse-2" name="pp-anythingElse" type="checkbox" value="post"
                    data-aria-controls="conditional-contact-2">
                    <label class="govuk-label govuk-checkboxes__label" for="pp-anythingElse-2">
                    Where they get their post sent
                  </label>
                  </div>
                  <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden"
                  id="conditional-contact-2">
                    <div class="govuk-form-group">
                      <label class="govuk-label" for="moreDetail-2">
                      Enter any more information about where the other parent gets their post sent
                    </label>
                      <div id="contact-hint" class="govuk-hint">
                      This might be different from where they live. For example a family member's address or temporary
                      address
                    </div>
                      <textarea class="govuk-textarea" id="more-detail-2" name="moreDetail-2" rows="7"
                      aria-describedby="more-detail-2-hint"></textarea>
                      <div id="moreDetail-2-hint" class="govuk-hint">
                      You have 700 characters remaining
                    </div>
                    </div>
                  </div>

                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="pp-anythingElse-3" name="pp-anythingElse" type="checkbox"
                    value="anythinElse" data-aria-controls="conditional-contact-3">
                    <label class="govuk-label govuk-checkboxes__label" for="pp-anythingElse-3">
                    Any other contact information
                  </label>
                  </div>
                  <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden"
                  id="conditional-contact-3">
                    <div class="govuk-form-group">
                      <label class="govuk-label" for="moreDetail-3">
                      Can you give more detail?
                    </label>
                      <div id="contact-hint" class="govuk-hint">
                      For example, their employment status or other contact details
                    </div>
                      <textarea class="govuk-textarea" id="more-detail-3" name="moreDetail-3" rows="7"
                      aria-describedby="more-detail-3-hint"></textarea>
                      <div id="more-detail-3-hint" class="govuk-hint">
                      You have 700 characters remaining
                    </div>
                    </div>
                  </div>

                  <div class="govuk-radios__divider">or</div>

                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="pp-anythingElse-4" name="pp-anythingElse" type="checkbox"
                    value="nothing" data-behaviour="exclusive">
                    <label class="govuk-label govuk-checkboxes__label" for="pp-anythingElse-3">
                    I do not know anything else that can help
                  </label>
                  </div>
                </div>
              </fieldset>
            </div>

            {# <a href="check-your-answers" role="button" draggable="false" class="govuk-button">
            Continue
          </a> #}

            <button type="submit" class="govuk-button">Continue</button>

          </form>
        </div>

        {% include "exit-button.html" %}

      </div>
    </main>
  </div>

{% endblock %}