{% extends "layout.html" %}
{% set serviceName %} Calculate child maintenance {% endset%}
{% block pageTitle %} benefits and pensions list {% endblock %}
{% block content %}
    <!--Feedback banner start-->
    {% include "feedback-banner.html" %}
    <!--Feedback banner stop-->

    <div class="govuk-width-container">
        {{ govukBackLink({ text: 'Back', href: 'javascript:history.back()' }) }}
        <main class="govuk-main-wrapper " id="main-content" role="main">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <form method="post" action="get-any-income-multi-rp" novalidate>
                        <div class="govuk-form-group">
                            <fieldset class="govuk-fieldset" aria-describedby="benefits-hint">
                                <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                                    <h1 class="govuk-fieldset__heading">
                              Do you get any of these benefits or State Pension?
                            </h1>
                                </legend>

                                <div id="benefits-hint" class="govuk-hint">
                            Select all that apply.
                          </div>

                                <br>
                            <div id="benefits" class="govuk-checkboxes">
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="benefits" name="benefits" type="checkbox" value="Universal Credit">
                                    <label class="govuk-label govuk-checkboxes__label" for="benefits">
                                Universal Credit
                                </label>
                                </div>
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="benefits-2" name="benefits" type="checkbox" value="Armed Forces Compensation Scheme">
                                    <label class="govuk-label govuk-checkboxes__label" for="benefits-2">
                                Armed Forces Compensation Scheme payments
                              </label>
                                </div>
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="benefits-3" name="benefits" type="checkbox" value="Bereavement Allowance">
                                    <label class="govuk-label govuk-checkboxes__label" for="benefits-3">
                                Bereavement Allowance
                              </label>
                                </div>
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="benefits-4" name="benefits" type="checkbox" value="Carers Allowance">
                                    <label class="govuk-label govuk-checkboxes__label" for="benefits-4">
                                Carers Allowance/Carers Suppoert Payment
                              </label>
                                </div>
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="benefits-5" name="benefits" type="checkbox" value="Incapacity Benefit">
                                    <label class="govuk-label govuk-checkboxes__label" for="benefits-5">
                                Incapacity benefit
                                </label>
                                </div>
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="benefits-6" name="benefits" type="checkbox" value="Income Support">
                                    <label class="govuk-label govuk-checkboxes__label" for="benefits-6">
                                Income Support
                                </label>
                                </div>
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="benefits-7" name="benefits" type="checkbox" value="Income related Employment Support Allowmane">
                                    <label class="govuk-label govuk-checkboxes__label" for="benefits-7">
                                Income-related Employment and Support Allowance
                                </label>
                                    <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="benefits-8" name="benefits" type="checkbox" value="Industrial Injuries Disablement benefit">
                                        <label class="govuk-label govuk-checkboxes__label" for="benefits-8">
                                Industrial Injuries Disablement benefit
                                </label>
                                    </div>
                                </div>
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="benefits-9" name="benefits" type="checkbox" value="Contribution based Jobseekers Allowance">
                                    <label class="govuk-label govuk-checkboxes__label" for="benefits-9">
                                Jobseeker’s Allowance – contribution-based
                                </label>
                                </div>
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="benefits-10" name="benefits" type="checkbox" value="Income based Jobseekers Allowance">
                                    <label class="govuk-label govuk-checkboxes__label" for="benefits-10">
                                Jobseeker’s Allowance – income-based
                                </label>
                                </div>
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="benefits-11" name="benefits" type="checkbox" value="Maternity Allowance">
                                    <label class="govuk-label govuk-checkboxes__label" for="benefits-11">
                                Maternity Allowance
                                </label>
                                </div>
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="benefits-12" name="benefits" type="checkbox" value="Pension Credit">
                                    <label class="govuk-label govuk-checkboxes__label" for="benefits-12">
                                Pension Credit
                                </label>
                                </div>
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="benefits-13" name="benefits" type="checkbox" value="Persoanl Independence Payment">
                                    <label class="govuk-label govuk-checkboxes__label" for="benefits-13">
                                Personal Independence Payment
                                </label>
                                </div>
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="benefits-14" name="benefits" type="checkbox" value="Severe Disability Allowmance">
                                    <label class="govuk-label govuk-checkboxes__label" for="benefits-14">
                                Severe Disability Allowance
                                </label>
                                </div>
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="benefits-15" name="benefits" type="checkbox" value="Skillseekers training">
                                    <label class="govuk-label govuk-checkboxes__label" for="benefits-15">
                                Skillseekers training
                                </label>
                                </div>
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="benefits-16" name="benefits" type="checkbox" value="State Pension">
                                    <label class="govuk-label govuk-checkboxes__label" for="benefits-16">
                                State Pension
                                </label>
                                </div>
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="benefits-17" name="benefits" type="checkbox" value="Training Allowance">
                                    <label class="govuk-label govuk-checkboxes__label" for="benefits-17">
                                Training Allowance
                                </label>
                                </div>
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="benefits-18" name="benefits" type="checkbox" value="War Disablement Pension">
                                    <label class="govuk-label govuk-checkboxes__label" for="benefits-18">
                                War Disablement Pension
                                </label>
                                </div>
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="benefits-19" name="benefits" type="checkbox" value="Civil Partner's Pension">
                                    <label class="govuk-label govuk-checkboxes__label" for="benefits-19">
                                War Widow’s, Widower’s or Surviving Civil Partner’s Pension
                                </label>
                                </div>
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="benefits-20" name="benefits" type="checkbox" value="Widow's Pension">
                                    <label class="govuk-label govuk-checkboxes__label" for="benefits-20">
                                Widow's Pension
                                </label>
                                </div>
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="benefits-21" name="benefits" type="checkbox" value="Widowed parent's Allowance">
                                    <label class="govuk-label govuk-checkboxes__label" for="benefits-21">
                                Widowed Parent's Allowance
                                </label>
                                </div>
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="benefits-22" name="benefits" type="checkbox" value="None">
                                    <label class="govuk-label govuk-checkboxes__label" for="benefits-22">
                                None of these
                                </label>
                                </div>

                            </div>

                        </fieldset>
                    </div>

                    <br>

                    <button type="submit" class="govuk-button">
                        Continue
                    </button>

                </form>
            </div>
            {% include "exit-button.html" %}
        </div>
    </main>
</div>
{% endblock %}