{% extends "layout.html" %}
{% set serviceName %} Calculate child maintenance {% endset%}
{% block pageTitle %} Other parents income {% endblock %}
{% block content %}
  <!--Feedback banner start-->
  {% include "feedback-banner.html" %}
  <!--Feedback banner stop-->

  <div class="govuk-width-container">
      {{ govukBackLink({ text: 'Back', href: 'javascript:history.back()' }) }}
      <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            
            <form method="post" action="what-is-your-childs-name-multi-rp" novalidate>
              <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="pension-hint">
                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                    <h1 class="govuk-fieldset__heading">
                              What is your total taxable income?
                            </h1>
                  </legend>

                  <div class="govuk-hint">
                            This is their total taxable income after pension contributions, but before tax and National Insurance. It can be weekly, monthly or yearly.
                            For example, 100 or 1500.50
                        </div>

                  <br/>

                  <div class="govuk-form-group">
                    <div class="govuk-input__wrapper">
                      <div class="govuk-input__prefix" aria-hidden="true">£</div>
                      <input class="govuk-input govuk-input--width-5" id="income-amount" name="income-amount" type="text" spellcheck="false">
                    </div>

                  </fieldset>
                </div>
              </fieldset>

              <br>
              <h1 class="govuk-heading-m">
                    Is this amount weekly, monthly or yearly?
                          </h1>

              <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="contact-hint">

                  <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="often-paid" name="often-paid" type="radio" value="Weekly">
                      <label class="govuk-label govuk-radios__label" for="often-paid">Weekly</label>
                    </div>

                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="often-paid-2" name="often-paid" type="radio" value="Monthly">
                      <label class="govuk-label govuk-radios__label" for="often-paid-2">Monthly</label>
                    </div>

                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="often-paid-3" name="often-paid" type="radio" value="Yearly">
                      <label class="govuk-label govuk-radios__label" for="often-paid-3">Yearly</label>
                    </div>
                  </div>

                </fieldset>
              </div>

              <button type="submit" class="govuk-button">
                            Continue
              </button>
            </form>

          </div>
          {% include "exit-button.html" %}

        </div>
      </main>
    </div>
  {% endblock %}