{% extends "layout.html" %}
{% block pageTitle %} GOV.UK Prototype Kit {% endblock %}
{% block content %}
  <!--Feedback banner start-->
  {% include "feedback-banner.html" %}
  <!--Feedback banner stop-->
  <div class="govuk-width-container">
    {{ govukBackLink({ text: 'Back', href: 'javascript:history.back()' }) }}
    <main class="govuk-main-wrapper " id="main-content" role="main">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <form action='/february2025/sections.html' method=“get”>
            <div class="govuk-form-group">
              <h1 class="govuk-heading-xl">
              Tell us any additional information about [Childs name] staying overnight with the other parent?
            </h1>

              <div class="govuk-form-group">
                {# <h1 class="govuk-label-wrapper">
                  <label class="govuk-label govuk-label-xl" for="more-detail">Tell us any additional information about [Childs name] staying overnight with the other parent?</label>
                </h1> #}
                <div id="more-detail-hint" class="govuk-hint">For example tell us about [content to add around explaining the arrangement?] </div>
                <textarea class="govuk-textarea" id="more-detail" name="moreDetail" rows="5" aria-describedby="more-detail-hint"></textarea>
                <div id="with-hint-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
                        You can enter up to 700 characters [ can we increase this amount?]
                </div>
              </div>

            </div>

            <button type="submit" class="govuk-button">
            Continue
          </button>
          {# <a href="app/views/apply/february2025/sections.html" role="button" draggable="false" class="govuk-button " data-module="govuk-button">Continue</a> #}

          </form>

        </div>
        {% include "exit-button.html" %}
      </div>
    </main>
  </div>

{% endblock %}